@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap');

*{
    /* font-family: 'Work Sans', sans-serif; */
    font-family: 'Prompt', sans-serif;
}

.content{
    min-height: calc(99vh - 80px);
}
footer{
    height: calc(80px + 1vh);
    background-color: rgb(32, 32, 32);
    box-shadow: 0px 2px 6px 3px rgba(145, 145, 145, 0.40);
    display: grid;
    place-content: center;
}
.homeInfo{
    width: 100%;
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.homeInfo h3{
    font-size: calc(48px + 0.2vw);
    text-align: center;
}
.homeInfo h4{
    font-size: calc(38px + 0.2vw);
    font-weight: 800;
    text-align: center;
}
@media only screen and (max-width: 530px) {
    .homeInfo h3{
        font-size: calc(37px + 0.2vw);
    }
    .homeInfo h4{
        font-size: calc(28px + 0.2vw);
    }
}
@media only screen and (max-width: 400px) {
    .homeInfo h3{
        font-size: calc(30px + 0.1vw);
    }
    .homeInfo h4{
        font-size: calc(24px + 0.1vw);
    }
}
@media only screen and (max-width: 330px) {
    .homeInfo h3{
        font-size: calc(24px + 0.1vw);
    }
    .homeInfo h4{
        font-size: calc(19px + 0.1vw);
    }
}